{{> head}}
<main class="main--grid">

  {{#if @config.custom.welcome}}
  {{#checkIfAny @config.custom.welcomeImage @config.custom.welcome}}
  <div class="welcome">
    <div class="welcome__headline">
        {{{@config.custom.welcomeHeadline}}}
    </div>
    <div class="welcome__image" alt="{{@config.custom.uploadHeroAlt}}" {{#if @config.custom.welcomeImageAlt}} title="{{@config.custom.welcomeImageTitle}}" {{/if}}>
        <img src="{{@config.custom.welcomeImage}}" {{responsiveSrcSet @config.custom.welcomeImage}} {{responsiveSizes}}>
    </div>
    <div class="welcome__text">
        {{{@config.custom.welcomeTitle}}}
    </div>
    <div class="welcome__spacer">
    </div>
  </div>
  {{/checkIfAny}}
  {{/if}}

    {{#if featuredPosts}}
        {{#each featuredPosts}}
            {{#checkIf @index '<' 8}}
                <article class="article">
                    {{#featuredImage}}
                        {{#if url}}
                            <img class="img-blurred" src="{{url}}" {{#if @config.custom.responsiveImages}} sizes="{{sizes.listing}}" srcset=" {{srcset.listing}}" {{/if}} alt=" {{alt}}" loading="lazy">
                            <img src="{{url}}" {{#if @config.custom.responsiveImages}} sizes="{{sizes.listing}}" srcset=" {{srcset.listing}}" {{/if}} alt=" {{alt}}" loading="lazy">
                            <a href=" {{../url}}" class="overlay">
                        {{/if}}
                    {{/featuredImage}}
                    <h1>{{title}}</h1>
                    </a>
                </article>
            {{/checkIf}}
        {{/each}}
    {{/if}}
    <!-- {{#each posts}}
        <article class="article">
            {{#featuredImage}}
                {{#if url}}
                    <img src="{{url}}" {{#if @config.custom.responsiveImages}} sizes="{{sizes.listing}}" srcset=" {{srcset.listing}}" {{/if}} alt=" {{alt}}">
                    <a href=" {{../url}}" class="overlay">
                {{/if}}
            {{/featuredImage}}
            <h1>{{title}}</h1>
            </a>
        </article>
    {{/each}} -->
</main>
<!-- {{> pagination}} -->
{{> footer}}
